
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 4%);
$gray-100: hsl(0, 0%, 96%);
$gray-800: hsl(0, 0%, 21%);
$blue: hsl(204, 86%, 53%);
$cyan: hsl(171, 100%, 41%);
$green: hsl(141, 53%, 53%);
$yellow: hsl(48, 100%, 67%);
$red: hsl(348, 100%, 61%);
$alert-color-level: 5;
$alert-bg-level: -4;
$alert-border-level: -4;
$card-cap-bg: rgba($black, .05);
$input-btn-padding-x: .90rem;
$input-btn-padding-y: .380rem;
$input-btn-focus-width: 0rem;
$line-height-base: 1.4;
$paragraph-margin-bottom: 0.80rem;
$table-bg-level: -7;
$dropdown-padding-y: .6rem;
$pagination-padding-x: .90rem;
$link-hover-decoration: none;
$border-radius: .35rem;
$border-radius-lg: .5rem;
$border-radius-sm: .3rem;